
:root {
  --cream: rgb(255, 235, 205);
  --light-blue: #5f9ea0;
  --dark-red: darkred;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cream);
  font-family: 'REM', sans-serif; /*'Sauna-Bold';*/
}

h1 {
  text-shadow: 1px 1px 1px green;
  color: var(--light-blue);
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 40px;
}

h2 {
  color: var(--dark-red);
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 30px;
}

#score {
  position: fixed;
  top: 20px;
  left: 50px;
  font-size: 1.2rem;
  font-weight: bold;
}

#game {
  width: 600px;
  height: 500px;
  margin: 20px;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-gap: 40px 25px;
  grid-template-columns:  100px 100px 100px 100px 100px;/*repeat(5, 1fr);*/
}

.card {
  height: 170px;
  width: 100px;
  border: 3px solid rgb(92, 98, 94);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
}


.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange
}
.purple {
  background-color: purple;
}


.unflipped {
  background-color: white !important;
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid navy;
  border-radius: 15px;
  visibility: visible;
  height: 100px;
  width: 250px;
  font-size: 35px;
}

#finish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: lightyellow;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 4px solid darkgreen;
}
.show {
  display: block;
}
.hide {
  display: none !important;
}

#finish-message {
  font-size: 30px;
  margin: 0px;
}
#best-score {
  font-size: 20px;
  margin: 0px;
}

#restart {
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid grey;
  height: 35px;
  width: 100px;
}
